<div class="flex items-center justify-between w-full">
    <app-icone style="cursor: pointer;" (click)="redirectToHome()" iconSrc="https://img.icons8.com/material-outlined/24/ffffff/shop.png" altText="Ícone Loja"></app-icone>
    <app-header-title title="Loja do Seu Manoel"></app-header-title>
    <app-button (click)="redirectToNewGame()">
        <div class="flex items-center">
            <app-icone iconSrc="https://www.svgrepo.com/show/71781/plus.svg" altText="Ícone Loja"></app-icone>
            Adicionar Novo Jogo
        </div>
    </app-button>
</div>